@model Pantus.Models.TbMenuItem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center text-primary">Menu Item Details</h1>
    <div class="card shadow p-4 mt-4">
        <h4 class="text-center text-secondary">TbMenuItem</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Alias)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Alias)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                <img src="@Model.Image" alt="@Model.Title" style="width: 50px; height: auto; border-radius: 5px;" />
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.ModifiedDate)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.PriceSale)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.PriceSale)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Star)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Star)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Detail)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
               @Html.Raw(Model.Detail)
            </dd>

            <dt class="col-sm-4 text-end text-success fw-bold">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-8 text-start text-dark">
                @Html.DisplayFor(model => model.Category.CategoryId)
            </dd>
        </dl>
        <div class="text-center mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.MenuItemId" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
