@{
    List<TbService> Services = ViewBag.Services;
    List<TbMenuReview> phapcomment = ViewBag.phapcomment;
}
<!-- Hero Start -->
<div class="container-fluid bg-light py-6 mt-0">
    <div class="container text-center animated bounceInDown">
        <h1 class="display-1 mb-4 text-danger">Dịch Vụ</h1>
        <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
            <li class="breadcrumb-item"><a class="text-danger" href="#">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a class="text-danger" href="#">Trang</a></li>
            <li class="breadcrumb-item text-danger" aria-current="page">Dịch Vụ</li>
        </ol>
    </div>
</div>
<!-- Hero End -->
<!-- Service Start -->
<!--// Decorate Start // -->
<div>
    <a class="AnhhPhapp-blog-left" href="#">
        <img alt="tet" src="~/assets/trangtri/canh-hoa-long-den-trung-thu.webp" style="width:200px;" />
    </a>
</div>

<div>
    <a class="AnhhPhapp-blog-right" href="#">
        <img alt="tet" src="~/assets/trangtri/10.png" style="width:290px;" />
    </a>
</div>

<div>
    <a class="AnhhPhapp-s-left" href="#">
        <img alt="tet" src="~/assets/trangtri/t-1.png" style="width:200px;" />
    </a>
</div>

<div>
    <a class="AnhhPhapp-r-right" href="#">
        <img alt="tet" src="~/assets/trangtri/7.png" style="width:290px;" />
    </a>
</div>
<div class="container-md">
    <div class="row justify-content-around text-center">
        <div class="col-lg-4 col-md mb-5">
            <img class="img_service" src="~/assets/service/glass_1.jpeg" alt="glass" style="width:100%; height: 250px;">
            <div class="color">
                <h6 class="pt-3">Phương Pháp Cá Nhân</h6>
                <p class="pe-5 ps-5 mt-4 text-danger">
                    Thái độ chú ý đến các yêu cầu và mong muốn của khách hàng
                </p>
                <div class="headset_parent">
                    <i class="fa fa-headset headset_child" style="color: #7c231d;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md mb-5">
            <img class="img_service" src="~/assets/service/tea.jpg" alt="món ăn"
            style="width:100%; height: 250px;">
            <div class="color">
                <h6 class="pt-3">MÓN ĂN VÀ ĐỒ UỐNG</h6>
                <p class="pe-5 ps-5 mt-4 text-danger">
                    Chúng tôi hợp tác với các chuyên gia hàng đầu trong lĩnh vực nhà hàng
                </p>
                <div class="glass_parent">
                    <i class="bi bi-cup-straw glass_child" style="color: #7c231d;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md mb-5">
            <img class="img_service" src="~/assets/service/serve.jpeg" alt="chất lượng"
            style="width:100%; height: 250px;">
            <div class="color">
                <h6 class="pt-3">CHẤT LƯỢNG PHỤC VỤ CAO</h6>
                <p class="pe-5 ps-5 mt-4 text-danger">
                    Chúng tôi tạo ra một không gian ấm cúng và thư giãn trong mọi sự kiện
                </p>
                <div class="serve_parent">
                    <i class="fa fa-bell serve_child"
                    style="color: #7c231d;"></i>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid service">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Dịch Vụ</small>
            <h1 class="display-5 mb-5">Những gì chúng tôi cung cấp</h1>
        </div>
        <div class="row g-4">
            @await Component.InvokeAsync("Services")
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="text-center wow bounceInUp" data-wow-delay="0.1s">
            <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">Khách Hàng</small>
            <h1 class="display-5 mb-5">Những gì khách hàng của chúng tôi nói!</h1>
        </div>
        <div class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-1 mb-4 wow bounceInUp" data-wow-delay="0.1s">
            @foreach (var p in phapcomment)
            {
                 <div class="testimonial-item rounded bg-light">
                <div class="d-flex mb-3">
                    <img src="@p.Image" class="img-fluid rounded-circle flex-shrink-0" alt="">
                    <div class="position-absolute" style="top: 15px; right: 20px;">
                        <i class="fa fa-quote-right fa-2x"></i>
                    </div>
                    <div class="ps-3 my-auto">
                        <h4 class="mb-0">@p.Name</h4>
                        <p class="m-0">@p.Phone</p>
                    </div>
                </div>
                <div class="testimonial-content">
                    <div class="d-flex">
                       @for(int  i = 0; i < p.Rating; i++)
                       {
                                <i class="fas fa-star text-primary"></i>
                       }
                    </div>
                    <p class="fs-5 m-0 pt-3">@p.Detail</p>
                </div>

            </div>
            }
        </div>
        <div class="owl-carousel testimonial-carousel testimonial-carousel-2 wow bounceInUp" data-wow-delay="0.3s">
            @foreach (var p in phapcomment)
            {
                <div class="testimonial-item rounded bg-light">
                    <div class="d-flex mb-3">
                        <img src="@p.Image" class="img-fluid rounded-circle flex-shrink-0" alt="">
                        <div class="position-absolute" style="top: 15px; right: 20px;">
                            <i class="fa fa-quote-right fa-2x"></i>
                        </div>
                        <div class="ps-3 my-auto">
                            <h4 class="mb-0">@p.Name</h4>
                            <p class="m-0">@p.Phone</p>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="d-flex">
                            @for (int i = 0; i < p.Rating; i++)
                            {
                                <i class="fas fa-star text-primary"></i>
                            }
                        </div>
                        <p class="fs-5 m-0 pt-3">@p.Detail</p>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->