@model IEnumerable<Pantus.Models.TbMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4 text-center text-primary" style="font-family: 'Playball', cursive; font-size: 36px;">Danh sách Menu</h1>

<p>
    <a type="button" asp-area="Admin" asp-controller="Menus" asp-action="Create" class="btn btn-primary mb-3">Thêm mới Menu</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tiêu Đề</th>
            <th scope="col">Alias</th>
            <th scope="col">Cấp</th>
            <th scope="col">Vị Trí</th>
            <th scope="col">Hiển Thị</th>
            <th scope="col" style="width: 150px;">Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int p = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(p++)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Alias)</td>
                <td>@Html.DisplayFor(modelItem => item.Levels)</td>
                <td>@Html.DisplayFor(modelItem => item.Position)</td>
                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge badge-success text-success">Hiển Thị</span>
                    }
                    else
                    {
                        <span class="badge badge-secondary text-danger">Ẩn</span>
                    }
                </td>
                <td>

                    <a asp-area="Admin" asp-controller="Menus" asp-action="Edit" asp-route-id="@item.MenuId" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-area="Admin" asp-controller="Menus" asp-action="Details" asp-route-id="@item.MenuId" class="btn btn-sm btn-info">Xem</a>
                    <a asp-area="Admin" asp-controller="Menus" asp-action="Delete" asp-route-id="@item.MenuId" class="btn btn-sm btn-danger"
                       onclick="return confirm('Bạn có chắc chắn muốn xóa mục này?');">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
